html {
	text-align: center;
	font-size: 20px;
}

input {
	border: none;
	border-bottom: 1px solid black;
	width: 5rem;
	margin-right: 1em;
}

form {
	padding-top: 1em;
}

.resp {
	padding-top: 2em;
}

.ps {
	color: gray;
}